{% extends 'base.html' %}

{% block title %} About Us {% endblock title %}
{% block body %}

<div class="container-fluid px-0">
    <img src="/static/img/mission.jpg" class="d-block w-100" alt="...">
</div>
    <div class="container">
        <H1 class="text-center my-4"> OUR MISSION </H1>
        <p>At H-Fitness.com, we strive to help all people make informed decisions about their health.

We document the habits that make a difference, whether people are interested in fueling their bodies with the most nutritious foods, navigating new workouts, reaching or maintaining a healthy weight or finding other ways to improve their overall health and wellbeing.

We deliver the tools to help people track their progress and keep them accountable. We rely on high-quality research and our network of experts to make H-Fitness.com the trustworthy, authoritative destination for people wanting to live their best lives.</p>
    </div>
    <hr>

{% endblock body %}