{% extends 'base.html' %}

{% block title %} Leg Challenge {% endblock title %}
{% block body %}

<main class="container-fluid px-0">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-15 px-0">
            <h6 class="display-4 fst-italic">Join the 30-Day Burpee Challenge to Build Full-Body Strength</h6>
            <p class="lead my-3">By Rachel Grice, CPT, RYT-200 | Updated  March 27, 2021</p>
        </div>
    </div>
    <div class="container">
    <div class="row mb-0">
    <div class="col-md-8">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/burpee/burpee0.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <p>The burpee is the exercise many of us love to hate. But you're never going to get better at burpees — or love them any more — if you don't actually do them. (Funny how that works.)</p>

<p>Burpees are really three moves in one: a squat, a push-up and a jump. Which makes them incredibly efficient full-body exercises that strengthen every major muscle group while increasing endurance. And if you do enough of them, your heart rate will spike for a dose of cardio, too. No wonder they're so hard.</p>

<p>We put together this month-long challenge to help you build up your burpee stamina and perfect your form. Keep scrolling for everything you need to know.

</p>
    </div>
  </div>
  

  <div class="row g-5">
    <div class="col-md-8">
      <hr>

      <article class="blog-post">
        <h2 class="blog-post-title">How the 30-Day Burpee Challenge Works</h2>
        

        <p><p>Each day, you'll do the designated number of reps in the challenge calendar below. The first day will be your warm-up: You only have to do one burpee. Every day after that, you'll add two burpees. And every six days, you get a rest day. (Phew!)</p>

<p>On Day 30 — the very last day of the challenge — you'll finish with 50 burpees. That might seem like a lot, but you'll work up to it throughout the month. Plus, we have suggestions below to help you scale the exercise to your ability. You can also break up your burpees into more manageable sets or try different variations to find what works for you.</p>

<p>To help keep you on track, the challenge calendar below can be printed out or saved to your phone so you know exactly how many burpees to do each day.
</p></p>


        
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/burpee/burpee1.webp" class="d-block w-100" alt="...">
        </div>
        <hr>
        <h2>How to Do the Burpee Challenge</h2>
        <br></br>
        <h4>Step 1: Print and/or Save Your Calendar</h4>
        <p>Keep your calendar somewhere you can see it so you never forget what day you're on. Cross off the days as you complete them so you always know how many reps you have to do the next day.Keep your calendar somewhere you can see it so you never forget what day you're on. Cross off the days as you complete them so you always know how many reps you have to do the next day.</p>
        
        <h4>Step 2: Focus on Proper Burpee Form</h4>
        <p>Before you begin, make sure you nail your form. Poor form means you won't get as much of out an exercise — and it could put you at risk for injury. Burpees require a good bit of coordination, but with some careful focus you'll master your form fast. Let's take a minute to go through proper burpee form, step by step.</p>
         <p><a class="btn btn-secondary " href="https://www.youtube.com/watch?v=TU8QYVW0gDU" role="button"><strong>How to Do a Burpee</strong></a></p>


        {% comment %} <h2>How to Do a Standard Push-Up</h2> {% endcomment %}
        {% comment %} <p>Push-Ups</p> {% endcomment %}
        {% comment %} <object width="425" height="344" data="/static/vid/box.mp4"></object> {% endcomment %}
        {% comment %} <embed src="/static/vid/box.mp4" allowfullscreen="true" width="425" height="344"> {% endcomment %}
        {% comment %} <iframe  width="425" height="344" src="/static/vid/box.mp4" frameborder="0" allowfullscreen></iframe> {% endcomment %}

                
        <h4 class="my-4">Step 3: Try Variations for Every Fitness Level</h4>
        <p>This challenge is for everyone: Beginners can modify with the tips above, while more advanced exercisers can try doubling the push-up or the jump, switching to single-arm push-ups or adding a box jump.</p>

<p>Experiment with the best burpee variations to keep challenging yourself.
</p>

          <h4 class="my-4">Step 4: Enjoy Your Rest Days</h4>
          <p>Days off give your muscles and mind a chance to rest, recover and get stronger.</p>

          <p>If you're feeling sore, a rest day is a great time for stretching or foam rolling. Focus on wherever you're tight or achy; because the burpee is a full-body exercise, there are many muscles that might need some relief.</p>


           

      </article>
<p><a class="btn btn-secondary " href="Challenges" role="button"><strong>Back to Challnges</strong></a></p>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
            
</div>
<hr>


                    


{% endblock body %}