{% extends 'base.html' %}

{% block title %} EatBetter {% endblock title %}
{% block body %}

<main class="container-fluid px-0">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-10 px-0">
            <h1 class="display-4 fst-italic"><strong>I Want to Eat Better</strong></h1>
            <p class="lead my-3">Ready to take charge of your diet? These nutrition-focused guides, tips and recipes
                will set you up for success.</p>
        </div>
    </div>
    
    <div class="container my-4 ">
    <h3 class="home-inner home-inner--padding new-stories-section">
        TOPICS</h3>
        <div class="album py-4 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/cooking.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="/Cooking" button type="button" class="btn btn-light"><strong>Cooking Tips</strong>  </a> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/nutfact.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"> <strong>Nutrition Facts</strong></a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/groc.webp" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"> <strong>Healthy Groceries</strong> </a>
                        </div>
                      </div>
                    </div>
                </div>
                    
</main>
<div class="container my-4 ">
    <h3 class="home-inner home-inner--padding new-stories-section">
        Featured</h3>
        <div class="album py-4 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/cookies.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                      <p>Nutrition</p>
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"> <strong> 9 Tasty Protein Cookies a Dietitian Loves </strong></a> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/vitb.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p>Nutrition</p>
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"><strong> 10 Foods High in Vitamin B for Plant-Based and Meat-Eaters Alike</strong></a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/sugrsnap.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <p>Nutrition</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"><strong> Sugar Snap Peas Nutrition: Benefits, Risks and How to Eat Them</strong> </a>
                        </div>
                      </div>
                    </div>
                </div>
</div>

<div class="container my-4 px-0">
            <div class="album py-4 bg-light">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/chees1.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                          <p>Nutrition</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="/article1" button type="button" class="btn btn-light"> <strong> Is Cheese Gluten-Free? Here's What to Know Before You Buy </strong></a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/10bstfd.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <p>Nutrition</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"><strong> The 9 Best Foods to Help You Focus</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                        <div class="card shadow-sm">
                          <img src="/static/img/seed.jpg" class="d-block w-100" alt="...">
                          <div class="card-body">
                            <p>Nutrition</p>
                            <div class="d-flex justify-content-between align-items-center">
                             <a href="#" button type="button" class="btn btn-light"><strong>Are Sesame Seeds Good for You? Nutrition, Benefits, Risks and Recipes</strong> </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            
</div>
<hr>


                    


{% endblock body %}