{% extends 'base.html' %}

{% block title %} GET FIT {% endblock title %}
{% block body %}

<main class="container-fluid px-0">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-10 px-0">
            <h1 class="display-4 fst-italic"><strong>I Want to Get Fit</strong></h1>
            <p class="lead my-3">No matter your fitness background and level, these workouts and exercise guides will help you get (and stay) in great shape.</p>
        </div>
    </div>
    
    <div class="container my-4 ">
    <h3 class="home-inner home-inner--padding new-stories-section">
        TOPICS</h3>
        <div class="album py-4 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/hmwrkt.webp" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"><strong>At-Home Workouts</strong>  </a> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/clothes.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"> <strong>Workout Clothes</strong></a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/swim.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"> <strong>Swimming</strong> </a>
                        </div>
                      </div>
                    </div>
                </div>
                    
</main>
<div class="container my-4 ">
    <h3 class="home-inner home-inner--padding new-stories-section">
        Featured</h3>
        <div class="album py-4 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/lwr.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                      <p>Fitness</p>
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"> <strong> 5 Lower-Body Exercise Swaps for Long-Term Gains </strong></a> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/abswrk.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p>Fitness</p>
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"><strong> The 5 Hardest Ab Exercises You Can Do With a Mini Band</strong></a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/wrt.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <p>Fitness</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"><strong>Get More Burn From Your At-Home Glute Workouts With These 3 Supersets</strong> </a>
                        </div>
                      </div>
                    </div>
                </div>
</div>

<div class="container my-4 px-0">
            <div class="album py-4 bg-light">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/lowrbdy.webp" class="d-block w-100" alt="...">
                      <div class="card-body">
                          <p>Fitness</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="/legchallenge" button type="button" class="btn btn-light"> <strong>Build Lower-Body Strength and Stamina With the 4-Week Legs Challenge </strong></a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/Stifleg.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <p>Fitness</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"><strong> How to Do the Stiff-Leg Deadlift for a Strong and Sculpted Backside</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                        <div class="card shadow-sm">
                          <img src="/static/img/fitbit-3.webp" class="d-block w-100" alt="...">
                          <div class="card-body">
                            <p>Fitness</p>
                            <div class="d-flex justify-content-between align-items-center">
                             <a href="#" button type="button" class="btn btn-light"><strong>The 3 Best Fitbits, According to a Trainer</strong> </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            
</div>
<hr>

                    


{% endblock body %}