{% extends 'base.html' %}

{% block title %} 4 Things Brain Surgeons Do Every Day to Stay Sharp {% endblock title %}
{% block body %} 

<main class="container">
  {% comment %} <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark"> {% endcomment %}
    <div class="col-md-6 px-0">
      {% comment %} <h3 class="display-6 fst-italic"><strong>WELCOME TO HEALTH PAGE</strong></h3> {% endcomment %}
      {% comment %} <p class="lead my-3">Ready to take charge of your diet? These nutrition-focused guides, tips and recipes will set you up for success.</p> {% endcomment %}
      {% comment %} <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> {% endcomment %}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Health</strong>
          <h2 class="mb-0">4 Things Brain Surgeons Do Every Day to Stay Sharp</h2>
          <div class="mb-1 text-muted">By Jessica Migala | June 27, 2021</div>
          <p class="card-text mb-auto">When you're an expert in brain health, you know a little about the noggin' — like how to keep your mind sharp and your mood running high. Oh, and how to prevent burnout that makes you feel like you're walking around in a perpetual fog.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/1st.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      {% comment %} <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3> {% endcomment %}
      <hr>

      <article class="blog-post">
        <h2 class="blog-post-title">1. ‘I Find Ways to Be Calm’</h2>
        <p class="blog-post-meta">As you might imagine, neurological surgery is a stressful job.</a></p>

        <p>Finishing an operation where we have removed a tumor from around the optic nerves, waiting for the patient to wake up and worrying that they might be blind can take a toll on you," Reid Thompson, MD, chair of the department of neurological surgery at Vanderbilt Medical Center, tells LIVESTRONG.com.

That's why he starts his day with a dose of calm. "My patients know that the morning of surgery, they won't see me," Dr. Thompson says. "I am meditating and taking the time to get into a more flow-like state for their surgery."

He rehearses the operation in his mind's eye, imagining each step. Then, in the operating room, he plays calming music to help everyone in the room relax.

You might not be performing craniotomies like Dr. Thompson (who has done more than 5,000 in his career), but you can learn from his commitment to calm and how it can help you perform at your job, think clearly and stay on your toes.

"The karma of the room really matters. When I'm calmer, I can problem-solve in more creative ways," he says.</p>
        <hr>
        <h2>2. ‘I Stay Active...and Rest When I Need To'</h2>
        <p>Sleeping seven hours a night — even as a busy neurosurgeon — is a must, Joshua Marcus, MD, a neurosurgeon with Nuvance Health, tells LIVESTRONG.com

          "Research shows that sleep stimulates cognitive function, including attention, memory and thinking skills, because the brain rests and recovers when we sleep," he says.
          
          In one September 2018 study in ​SLEEP​, researchers concluded that sleeping more or less than seven to eight hours per night was associated with worse cognitive performance, including inferior reasoning and verbal skills. (The right amount, on the other hand, was found to buoy cognitive performance the next day.)
          
          When it comes to exercise, Dr. Marcus plays hockey and runs several times per week. "Exercise increases blood flow and, in turn, sends oxygen and nutrients to the brain," he says. "Exercise also releases chemicals that affect overall health of new brain cells, boost mood and reduce stress."
          
          Team sports like hockey also provide social engagement, which is linked to maintaining sharpness with age, he says.</p>
        

        <hr>
        <h2>3. ‘I Appreciate Things Around Me’</h2>
        <p>When he's not in the operating room, focusing on the beauty in the everyday helps Dr. Thompson relieve stress and maintain resilience.

          "I've learned to stop and pay attention to small details during the day. A patient of mine knew that I have a love for clouds and gifted me a membership to the Cloud Appreciation Society," Dr. Thompson says. Daily, he receives an email with the "cloud of the day." "Some clouds are just absolutely stunning. Taking a moment to appreciate beauty each day is something that I think is well within our reach and helps to contribute to an overall sense of calmness in an otherwise stressful career," he says.
          
          Your thing doesn't have to be clouds, but stopping to notice the joy in nature, those you love, your cute pets or anything that really moves you can help improve your sense of resilience.</p>
          
          <hr>
          <h2>4. ‘I Prioritize My Family’</h2>
          <p>"There are a lot of occupations that are incredibly challenging and drain you physically, mentally and emotionally," Min S. Park, MD, a neurosurgeon with UVA Health in Charlottesville, tells LIVESTRONG.com. And stress has been shown to negatively affect brain function, including impairing memory and learning.

            Dr. Park finds that being with his family recharges him after a long workday.
            
            But the opportunity to recharge might only come if you plan ahead and make room for it. Otherwise, it's too easy to allow stuff from the day to seep into your night, so that you constantly feel chased around by work.
            
            "I really try to maximize my efficiency while at work, so that when I'm home, I can focus on my family from the time I get home until the kid's bedtime. I'll help them with piano lessons, make dinner, do some household chores or play games," Dr. Park says. (After they're in bed, he might get back to a time-sensitive task, but he will wait until then to do it.)
            
            So what does this have to do with brain health? "Fortunately, we are in the midst of a renaissance where mental health and wellbeing are recognized as critical to people's health and job productivity and satisfaction," Dr. Park says.
            
            For him, it's his kids that bring him happiness and a mood boost that's cognitively restorative.</p>

      </article>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <footer class="footer">
    <div class="container">
        <div class="footer__inner">
                                        <div class="footer__item">
                        <form action="//getbootstrap.us13.list-manage.com/subscribe/post?u=e3428dd6b8fda73bc5ba8b6e6&amp;id=198881a019" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
                            <div class="d-md-flex justify-content-between align-items-center">
                                <div class="form-group">
                                    <a class="mb-1" href="/contact">Get new tips? <strong>Contact Now</strong></a>
                                </div>
                              </div>
                        </form>
                    </div>
        </div>
    </div>
</footer>

</main>

{% endblock body %}