{% extends 'base.html' %}

{% block title %} Leg Challenge {% endblock title %}
{% block body %}

<main class="container-fluid px-0">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-15 ">
            <h6 class="display-4 fst-italic">Build Lower-Body Strength and Stamina With the 4-Week Legs Challenge </h6>
            <p class="lead my-3">By Rachel Grice, CPT, RYT-200 | Updated  June 21, 2021</p>
        </div>
    </div>
    <div class="container">
    <div class="row mb-0">
    <div class="col-md-8">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/legs/leg0.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <p>They say you should never skip leg day, and with this four-week challenge, you'll never want to. The LIVESTRONG.com team developed a challenge packed with lower-body workouts to strengthen your quads, hamstrings, glutes and calves.

And that's important, as having more muscle mass as you age is associated with lower rates of death from any cause, according to a June 2014 ​American Journal of Medicine​ study.
</p>
 <p>Plus, your lower body powers nearly every movement you make. "In order to achieve strong, daily activities, you need strong glutes and hamstrings," says D'Annette Stephens, International Sports Sciences Association-certified personal trainer, founder of Fit Pros Black Alliance and the expert host of our 4-Week Legs Challenge.

Ready to build stronger legs? Below is everything you need to know to join us.
</p>
    </div>
  </div>
  

  <div class="row g-5">
    <div class="col-md-8">
      <hr>

      <article class="blog-post">
        <h2 class="blog-post-title">How the 4-Week Legs Challenge Works</h2>
        

        <p>We're launching this challenge on Monday to Saturday at 4:00PM, but you can start on your own at any time.

Each week, you'll do the same type of workout on the same day, but each week, we'll up the ante by increasing the number of reps you're doing (more on that below). Here's what your weekly schedule looks like:</p>
    <p>​​Monday:​​ The 4 Best Leg Exercises</p>
    <p>Tuesday:​​ Rest</p>
    <p>​​Wednesday:​​ The 4 Best Leg Exercises</p>
    <p>​​Thursday:​​ Rest</p>
    <p>​​Friday:​​ Leg Workout Video</p>
    <p>​​Saturday:​​ The 4 Best Leg Exercises</p>
   <p> ​​Sunday:​​ Active Recovery</p>


        
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/legs/leg1.webp" class="d-block w-100" alt="...">
        </div>
        <hr>
        <h2>How to Join the Legs Challenge</h2>
        <br></br>
        <h4>Step 1: Print and/or Save Your Calendar</h4>
        <p>Keep your calendar somewhere you can see it, and use it each day to help you stay on track. Do the activity listed, then check off each day as you complete it.</p>
        
        <h4>Step 2: Get Warmed Up</h4>
        <p>Before every leg workout (or before any workout, really), it's important to give your body time to prepare for the physical activity ahead. A good warm-up only takes a few minutes, but it will raise your heart rate, wake up your brain and body and prime your muscles for action.</p>

<p>Perform each of the moves below for 20 reps each:</p>

    <p>Jumping jack</p>
    <p>Good morning</p>
    <p>Glute bridge</p>
   <p> Hip circle (5 clockwise and 5 counterclockwise on each leg)</p>



        {% comment %} <h2>How to Do a Standard Push-Up</h2> {% endcomment %}
        {% comment %} <p>Push-Ups</p> {% endcomment %}
        {% comment %} <object width="425" height="344" data="/static/vid/box.mp4"></object> {% endcomment %}
        {% comment %} <embed src="/static/vid/box.mp4" allowfullscreen="true" width="425" height="344"> {% endcomment %}
        {% comment %} <iframe  width="425" height="344" src="/static/vid/box.mp4" frameborder="0" allowfullscreen></iframe> {% endcomment %}

                
        <h4 class="my-4">Step 3: Start With the 4 Best Leg Exercises</h4>
        <p>Your four main leg exercises for this challenge are:</p>

   <p><a class="btn " href="https://www.youtube.com/watch?v=3gpXflqRiEc" role="button"><strong>Goblet squat</strong></a></p>
    <p><a class="btn " href="https://www.youtube.com/watch?v=7j-2w4-P14I" role="button"><strong>Romanian deadlift</strong></a></p>
    <p><a class="btn " href="https://www.youtube.com/watch?v=MEG6blZtUpc" role="button"><strong>Split squat</strong></a></p>
    <p><a class="btn " href="https://www.youtube.com/watch?v=gwWv7aPcD88" role="button"><strong>Lateral lunge</strong></a></p>

<p>On Day 1 and then every following Monday, Wednesday and Saturday, you'll perform a circuit of the four moves. Each week, you'll increase the number of reps you're doing:</p>

   <p> ​Week 1:​ 2 sets of 15</p>
    <p>​Week 2:​ 3 sets of 12</p>
    <p>​Week 3:​ 4 sets of 10</p>
   <p> ​Week 4:​ 3 sets of 15</p>


          


          <h4 class="my-4">Step 4: Enjoy Your Rest Days</h4>
          <p>Every Tuesday and Thursday, you'll have a rest day. Make sure to take advantage of the days off by doing something active but low-intensity like swimming, yoga, tai chi or walking.</p>

<p>"The best way to recover after working out three to five times a week is a healthy diet and sleep," Stephens says. "You will see more results of your hard work after a good day of rest and recovery."
</p>
           

      </article>
    <p><a class="btn btn-secondary " href="Challenges" role="button"><strong>Back to Challnges</strong></a></p>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
            
</div>
<hr>


                    


{% endblock body %}