{% extends 'base.html' %}

{% block title %} MANAGE WEIGHT {% endblock title %}
{% block body %}

<main class="container-fluid px-0">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-10 px-0">
            <h1 class="display-4 fst-italic"><strong>I Want to Manage My Weight</strong></h1>
            <p class="lead my-3">Whether your aim is to reach or maintain a healthy weight, these evidence-based programs will help you achieve your goal.</p>
        </div>
    </div>
    
    <div class="container my-4 ">
    <h3 class="home-inner home-inner--padding new-stories-section">
        TOPICS</h3>
        <div class="album py-4 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/portion.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"><strong>Portion Control</strong>  </a> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/wtls.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"> <strong>Weight-Loss Diets</strong></a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/dtpln.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"> <strong>Diet Plans</strong> </a>
                        </div>
                      </div>
                    </div>
                </div>
                    
</main>
<div class="container my-4 ">
    <h3 class="home-inner home-inner--padding new-stories-section">
        Featured</h3>
        <div class="album py-4 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/comp.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                      <p>Weight Management</p>
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"> <strong> You Shouldn’t Compliment Someone’s Weight Loss. Here’s What to Say Instead</strong></a> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/mach.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p>Weight Management</p>
                    <div class="d-flex justify-content-between align-items-center">
                     <a href="#" button type="button" class="btn btn-light"><strong> 67 Weight-Loss Statistics You Should Know</strong></a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/mis.jpg" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <p>Weight Management</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"><strong> 5 Diet Mistakes That Make Cravings Worse</strong> </a>
                        </div>
                      </div>
                    </div>
                </div>
</div>

<div class="container my-4 px-0">
            <div class="album py-4 bg-light">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/pnt.webp" class="d-block w-100" alt="...">
                      <div class="card-body">
                          <p>Weight Management</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"> <strong>Peanut Butter Can Help You Lose Weight, Unless You're Making These 4 Mistakes </strong></a> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="/static/img/lswt.webp" class="d-block w-100" alt="...">
                      <div class="card-body">
                        <p>Weight Management</p>
                        <div class="d-flex justify-content-between align-items-center">
                         <a href="#" button type="button" class="btn btn-light"><strong> You Shouldn't Exercise to Lose Weight. Here's How to Change Your Mindset</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                        <div class="card shadow-sm">
                          <img src="/static/img/org.jpg" class="d-block w-100" alt="...">
                          <div class="card-body">
                            <p>Weight Management</p>
                            <div class="d-flex justify-content-between align-items-center">
                             <a href="#" button type="button" class="btn btn-light"><strong>5 Smart Tips to Organize Your Fridge for Weight Loss</strong> </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            
</div>
<hr>

                    


{% endblock body %}