{% extends 'base.html' %}

{% block title %} Plank Challenge {% endblock title %}
{% block body %}

<main class="container-fluid px-0">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h6 class="display-4 fst-italic">4-Week Plank Challenge</h6>
        </div>
    </div>
    <div class="container">
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/plankch.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>

  <div class="component-hubs-section-text ui-body hub-section"><p style="text-align: left;">Planks are the plain chicken breasts of the exercise world: They're good for you, but they get boring after a while. But just like you can add different marinades and seasonings to your chicken, you can spice up your planks with variations.</p>
<p style="text-align: left;">Our 4-Week Plank Challenge gives you plenty of options: You'll have a new plank variation to conquer each day. By the end of the month, you'll have built a stronger, more stable core — and perhaps even gotten your abs to pop.</p>
<p style="text-align: left;">But this is about more than  six-pack abs. Developing your core muscles — including your glutes, pelvic floor, back and obliques — is also essential for improving walking and running form, preventing back pain and injury and keeping you balanced during everyday movements.</p>
<p style="text-align: left;">Keep scrolling for everything you need to know about the challenge, including a printable calendar with each day's plank variation and more info on proper plank form.</p>
<h2><br>How to Join the 4-Week Plank Challenge</h2>
<p style="text-align: left;"><strong>Step 1: Print and/or save your challenge calendar.</strong> Keep it somewhere you'll see it every day so you'll always know which plank variation to do. Get a printer-friendly version <a href="https://contentlab-data.s3.amazonaws.com/1/21/d0864facc6874b64ab0856ae78204b93.pdf" target="_blank" rel="noopener">here</a>.</p>
<p style="text-align: left;"><strong>Step 2: Join our <a href="https://www.facebook.com/groups/1795820483953280" target="_blank" rel="noopener">Challenge Facebook Group</a>.</strong> Our community of more than 47,000 members is here to support and motivate you. Share your progress by posting photos or videos of you planking or simply tell the group how the day's variation went.</p>
<p style="text-align: left;"><strong>Step 3: Follow along.</strong> Aim to hold each plank variation for 30 seconds twice a day. If you’re new to planking, hold for however long you can maintain proper form — even 10 to 15 seconds is a great start! If you're more advanced, work your way up to 1 to 2 minutes. <strong>Click on the weekly calendars below for details on how to do each variation.</strong></p></div>
    <a type="center" class="btn btn-secondary" href="#" role="button">Week 1</a>
    <img src="/static/img/plankc/week1.jpg" class="d-block w-100" alt="..."><br></br>
    
    <a type="center" class="btn btn-secondary" href="#" role="button">Week 2</a>
    <img src="/static/img/plankc/week2.jpg" class="d-block w-100" alt="..."><br></br>

    <a type="center" class="btn btn-secondary" href="#" role="button">Week 3</a>
    <img src="/static/img/plankc/week3.jpg" class="d-block w-100" alt="..."><br></br>
    
    <a type="center" class="btn btn-secondary" href="#" role="button">Week 4</a>
    <img src="/static/img/plankc/week4.jpg" class="d-block w-100" alt="..."><br></br>

    
    </div>
  </div>
    </div>

    <p><a class="btn btn-secondary " href="Challenges" role="button"><strong>Back to Challnges</strong></a></p>
</div>
            
</div>
<hr>


                    


{% endblock body %}