{% extends 'base.html' %}

{% block title %} Push-up Challenge {% endblock title %}
{% block body %}

<main class="container-fluid px-0">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-15 px-0">
            <h6 class="display-4 fst-italic">Join the 30-Day Push-Up Challenge for Upper-Body Strength, Stability and Stamina</h6>
            <p class="lead my-3">By Rachel Grice, CPT, RYT-200 | Updated  February 19, 2021</p>
        </div>
    </div>
    <div class="container">
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/push.webp" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      {% comment %} <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3> {% endcomment %}
      <hr>

      <article class="blog-post">
        <h2 class="blog-post-title">How the 30-Day Push-Up Challenge Works</h2>
        

        <p>In our version of the push-up challenge, you'll start on Day 1 with 5 push-ups. Each day, you'll add about 2 reps to the previous day's total, and every seventh day, you'll rest. On the very last day of the challenge (Day 30), you'll finish with 60 push-ups.

That may seem like a lot if you're just starting out, but the goal of this challenge is to build strength throughout the month and push you beyond what you think is possible. Plus, you don't have to do all of your daily push-ups in one go: You can break them into sets to do throughout the day.

To help keep you on track, we've created the calendar below that you can print out or save to your phone so you know exactly how many push-ups you'll need to do each day.</p>
        
        <div class="col-auto d-none d-lg-block">
          <img src="/static/img/30daypushup.webp" class="d-block w-100" alt="...">
        </div>
        <hr>
        <h2>How to Do the Push-Up Challenge</h2>
        <p>steps to do Push-Ups</p>


        <h4>Step 1: Print and/or Save Your Challenge Calendar</h4>
        <p>Keep your calendar somewhere you can see it so you never forget what day you're on. 
        Cross off the days as you complete them so you always know how many reps you have to do the next day.</p>
        
        <h4>Step 2: Master Proper Push-Up Form</h4>
        <p>Perfect your form before you add more reps. At best, poor form makes an exercise ineffective.
         At worst, it puts you at risk for injury.</p>

        <h2>How to Do a Standard Push-Up</h2>
        <p>Push-Ups</p>
        {% comment %} <object width="425" height="344" data="/static/vid/box.mp4"></object> {% endcomment %}
        {% comment %} <embed src="/static/vid/box.mp4" allowfullscreen="true" width="425" height="344"> {% endcomment %}
        <iframe  width="425" height="344" src="/static/vid/box.mp4" frameborder="0" allowfullscreen></iframe>

                
        <h4 class="my-4">Step 3: Know How and When to Modify</h4>
        <p>Don't worry about banging out full-on, military-style push-ups right from the start. If you find yourself struggling,
         try a few different push-up modifications until you build more upper-body and core strength.</p>
          
          <h4>Modification 1: Incline Push-Up</h4>
          <img src="/static/img/inlin.gif" class="d-block w-100" alt="...">

          <h4 class=" my-4">Modification 2: Knee Push-Up</h4>
          <img src="/static/img/knee-push.gif" class="d-block w-100" alt="...">

          <h4 class="my-4">Step 4: Try Variations for Every Fitness Level</h4>
          <p>Doing the same exercise over and over (and over) again is a recipe for boredom and burnout. That's why you might want to mix things up with push-up variations.
Beginners can modify with incline or knee push-ups, while more advanced exercisers can try variations like Spiderman or plyo push-ups.
 Experiment with the best push-up variations to keep this challenge from getting stale.</p>
           
           <h4>Step 5: Stretch When You're Sore</h4>
          <p>After busting out a bunch of reps, you'll want to stretch the muscles you've been strengthening. If your arms, shoulders and/or chest muscles need a little relief, there are some upper-body stretches,
           mobility exercises and foam rolling moves you can do to ease muscle soreness after doing daily push-ups.</p>

      </article>
      <p><a class="btn btn-secondary " href="Challenges" role="button"><strong>Back to Challnges</strong></a></p>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
            
</div>
<hr>


                    


{% endblock body %}